{% extends "base.html" %}
{% load humanize %}
{% load static %}


{% block title %}Music-Mix | Resultados de la busqueda{% endblock %}


{% block content %}
<style>
    .imagen-carta {
        width: 250px;
        /* Ancho fijo igual a la altura */
        height: 250px;
        /* Altura fija */
        object-fit: cover;
        /* Cubre el área cuadrada, puede recortar partes de la imagen */
        background-color: #ffffff;
        border-radius: 10px;
    }
</style>


<div class="container">
    <div class="row justify-content-center align-items-center">
        {% if entity %}
        {% for producto in entity %}
        <div class="card mb-4 me-3 col-md-10" style="max-width: 940px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if producto.imagen_producto %}
                    <img src="{{producto.imagen_producto.url}}" class="img-fluid imagen-carta" alt="...">
                    {% else %}
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/008/255/803/small/page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-a-hand-drawn-layout-template-of-a-broken-robot-illustration-vector.jpg"
                        class="img-fluid imagen-carta" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.precio_venta}} | {{producto.nombre_producto}}</h5>
                        <p class="card-text">{{producto.marca}} {{producto.SKU}} <br> {{producto.descripcion}}</p>
                        <p class="card-text"><small class="text-body-secondary">Stock: {{producto.stock}}</small></p>
                        <div class="d-flex justify-content-end">
                            <div class="" role="group" aria-label="">
                                <a href="{% url 'detalle' producto.id_producto %}" class="btn btn-custom">detalles</a>
                                <a href="{% url 'agregarProducto' producto.id_producto %}" class="btn btn-success">¡al
                                    carro!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="card mb-4 me-3 col-md-10" style="max-width: 940px;">
            <div class="card-body">
                No se encontraron productos que contengan la palabra que buscas
            </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}