/* Estilos para el fondo */

.textocentro {
    text-align: center;
}


/* Tema claro */
:root {
    --box-shadow-light: 0 0 10px black;
    /* Sombra para el modo claro */
    --border-light: 1px solid gray;
    /* Borde para el modo claro */
}

/* Tema oscuro */
[data-bs-theme="dark"] {
    --box-shadow-dark-1: 0 0 10px #ff7301;
    /* Sombra de color rojo para .card-1 */
    --box-shadow-dark-2: 0 0 10px #ff9901;
    /* Sombra de color verde para .card-2 */
    --box-shadow-dark-3: 0 0 10px #bd5806;
    /* Sombra de color azul para .card-3 */
    --border-dark: 1px solid white;
    /* Borde para el modo oscuro */
}

/* Clases para las tarjetas */
.card-1,
.card-2,
.card-3 {
    box-shadow: var(--box-shadow-light);
    border: var(--border-light);
    border-radius: 8px;
    /* Radio de borde */
}

/* Cambiar sombras y bordes cuando el tema es oscuro */
[data-bs-theme="dark"] .card-1 {
    box-shadow: var(--box-shadow-dark-1);
    border: var(--border-dark);
}

[data-bs-theme="dark"] .card-2 {
    box-shadow: var(--box-shadow-dark-2);
    border: var(--border-dark);
}

[data-bs-theme="dark"] .card-3 {
    box-shadow: var(--box-shadow-dark-3);
    border: var(--border-dark);
}