body {
    position: relative;
}

.btn-custom {
    background-color: #943e2a;  /* color de fondo personalizado */
    color: white;  /* color del texto */
    border: none;  /* sin borde */
    border-radius: 5px;  /* bordes redondeados */
    padding: 10px 20px;  /* tamaño del botón */
  }


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(100%);
    z-index: -1;
}

.textocentro {
    color: aliceblue;
    text-align: center;
    box-shadow: inset;
}



#FuenteTitulo {
    font-family: "Dancing Script", cursive;
    margin: 0;
    font-size: 50px;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.imagen-carta {
    width: 250px;
    /* Ancho fijo igual a la altura */
    height: 250px;
    /* Altura fija */
    object-fit: cover;
    /* Cubre el área cuadrada, puede recortar partes de la imagen */
    background-color: #ffffff;
    border-radius: 10px;
}