{% extends 'base.html'%}
{% load humanize %}
{% load static %}
{% block title %}Music-Mix | {{producto.nombre_producto}}{% endblock %}

{% block content %}
<style>
    /* Variables CSS para colores de las tarjetas en modo claro y oscuro */
    :root {
        --card-bg-light: #c5d2c3;
        /* Fondo claro de la tarjeta */
        --card-bg-dark: #34413b;
        /* Fondo oscuro de la tarjeta */
        --card-text-light: #000000;
        /* Texto oscuro para modo claro */
        --card-text-dark: #ffffff;
        /* Texto claro para modo oscuro */
    }

    [data-bs-theme="dark"] {
        --card-bg: var(--card-bg-dark);
        --card-text: var(--card-text-dark);
    }

    [data-bs-theme="light"] {
        --card-bg: var(--card-bg-light);
        --card-text: var(--card-text-light);
    }

    /* Aplica los colores a las tarjetas */
    .card-fondo {
        background-color: var(--card-bg);
        color: var(--card-text);
        padding: 1rem;
        border-radius: 8px;
        border: 3px solid white;
        box-shadow: 0 0 25px rgb(169, 254, 0), inset 0 0 0px rgb(169, 254, 0);
    }

    .tarjetainterior {
        border-radius: 8px;
        border: 3px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.306);
    }
</style>
<div class="container">
    <div class="card my-5 card-fondo">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-3 mx-2 my-5">
                <div class="card tarjetainterior">
                    <div class="d-grid gap-2">
                        <a href="{% url 'inicio' %}" class="btn btn-danger">Volver</a>
                    </div>
                    {% if producto.imagen_producto %}
                    <img src="{{producto.imagen_producto.url}}" class="imagen-carta card-img-top " alt="">
                    {% else %}
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/008/255/803/small/page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-a-hand-drawn-layout-template-of-a-broken-robot-illustration-vector.jpg"
                        class="card-img-top imagen-carta imagen_carta_inicio">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{marca.nombre_marca | capfirst }}</p>
                        <h5 class="card-title">{{producto.precio_venta | intcomma}}</h5>
                        <hr />
                        <h4>Informacion extra del producto</h4>
                        <hr />
                        <h5>Tipo de producto: {{tipo.id_nombre | capfirst}}</h5>
                        <hr />
                        <h5>Categoría: {{categoria.nombre_categoria | capfirst}}</h5>
                        <hr />
                        <h5>Subcategoría: {{subcategoria.nombre_subcategoria | capfirst}}</h5>
                    </div>
                </div>
                <div class="card tarjetainterior my-4">
                    <div class="card-body">
                        <h4 style="text-align: center;">Métodos de Pago</h4>
                        <hr />
                        <img src="{% static 'images/Pagos.png' %}" class="card-img-bottom">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 mx-2 my-5">
                <div class="card tarjetainterior mb-5">
                    <div class="card-body">
                        <div class="card-title mb-2">
                            <h1 style="text-align: center;">Detalles del producto</h1>
                        </div>
                        <div class="row justify-content-center align-items-center mb-1">
                            <div class="col-12">
                                <div class="card tarjetainterior">
                                    <div class="card-body row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">


                                            <h1 class="col-5">{{producto.sku | capfirst}} |
                                                {{producto.nombre_producto | capfirst}}</h1>
                                            <div class="col-5">
                                                <a href="{% url 'agregarProducto' producto.id_producto %}">Agregar al
                                                    carro</a>
                                            </div>
                                        </div>

                                        <hr />
                                        <h2>Descripción:</h2>
                                        <p>{{producto.descripcion}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card tarjetainterior mb-5 ">
                    <h1 style="text-align: center;">Podría interesarte...</h1>
                </div>

                <div class="row justify-content-center py-2">
                    {% for i in recomendaciones %}
                    <div class="col-lg-4 col-md-6 col-sm-12 px-4 py-2">
                        <div class="card tarjetainterior">
                            <div style="align-items: center;">
                                {% if i.imagen_producto %}
                                <img src="{{i.imagen_producto.url}}"
                                    class="card-img-top imagen-carta imagen_carta_inicio">
                                {% else %}
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/255/803/small/page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-a-hand-drawn-layout-template-of-a-broken-robot-illustration-vector.jpg"
                                    class="card-img-top imagen-carta imagen_carta_inicio">
                                {% endif %}
                                <div class="card-body">
                                    <div style="text-align: center;">
                                        <h5> <a href="">${{ i.precio_venta | intcomma }} |
                                                {{i.nombre_producto}}</a> </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{% url 'detalle' i.id_producto %}" class="btn btn-primary">detalles</a>
                                    <a href="{% url 'agregarProducto' i.id_producto %}"
                                        class="btn btn-success">¡carro!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="card tarjetainterior">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}