<footer class="py-4 mt-5" id="footer" style="background-color: var(--bs-body-bg);">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-3">
                <h5 style="color: var(--bs-body-color);">Columna 1</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 1</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 2</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 3</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: var(--bs-body-color);">Columna 2</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 1</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 2</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 3</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: var(--bs-body-color);">Columna 3</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 1</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 2</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 3</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 4</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color: var(--bs-body-color);">Columna 4</h5>
                <ul class="list-unstyled">
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 1</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 2</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 3</a></li>
                    <li><a href="#" style="color: var(--bs-body-color)">Enlace 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>